<!-- <login-2> -->
    <div id="login">
        <div class="login-intro">
            <div class="login-intro" style="width: 50%">
                <div>
                    <img src="http://angular-material.fusetheme.com/assets/images/logos/fuse.svg" alt="">
                </div>
                <div>
                    Sucursal 1
                    <span>Av 6 de agosto</span>
                </div>
                <div>
                    Sucursal 2
                    <span>Garita de lima</span>
                </div>
                <div>
                    Sucursal 3
                    <span>Av 16 de julio</span>
                </div>
                <div>
                    <h1>
                        Vienvenido al mundo de los zapatos!
                    </h1>
                </div>
                <div>
                    <span>
                        Sistema de venta de zapatos control y mantencion de orden en el momento de la venta
                    </span>
                </div>
            </div>
        </div>
        <div class="login-form">
            <div class="login-form-inside">
                <div>
                    <h5>
                        LOGIN TO YOUR ACCOUNT
                    </h5>
                </div>
                <form action="" class="mb-4">
                    <div class="row">
                        <div class="form-group col-md-12 mr-sm-2">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control" placeholder="juan@example.com">
                            <span class="input_icon">
                                <i class="far fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="">Password</label>
                            <input type="password" class="form-control" placeholder="************">
                            <span class="input_icon">
                                <i class="fas fa-unlock-alt"></i>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="d-flex justify-content-between">
                    <div class="justify-content-start">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fas fa-check"></i></span>
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="justify-content-end">
                        <a href="">Forgot Password</a>
                    </div>
                </div>
                <button type="button" class="btn btn-login form-control">LOGIN</button>
                <div class="text-center">
                    <span class="text">
                        OR
                    </span>
                </div>
                <!-- <div class="d-flex flex-column mb-3">
                    <button type="button" class="btn btn-google mb-2">Login in with Google</button>
                    <button type="button" class="btn btn-facebook">Login in with Facebook</button>
                </div> -->
                <div class="d-flex flex-column">
                    <span>
                        Don't have an account?
                    </span>
                    <span>
                        <a href="">Create an account</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
<!-- </login-2> -->